.redemo {
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}

.redemo-run {
  height: 400px;
}

.sl-wrap {
  border: 1px solid #999;
}

.sl-header {
  background-color: #ddd;
  box-sizing: border-box;
  padding: 5px;
}

.sl-item {
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  padding: 5px;
}
